<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>iFilmo</display-name>

	<welcome-file-list>
		<welcome-file>/UI/main.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<display-name>显示主页面</display-name>
		<servlet-name>sortableServlet</servlet-name>
		<servlet-class>com.ifilmo.servlet.catalogue.sortableServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>sortableServlet</servlet-name>
		<url-pattern>/sortableServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>显示主页面</display-name>
		<servlet-name>MainServlet</servlet-name>
		<servlet-class>com.ifilmo.servlet.MainServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/MainServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>用户登录</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.ifilmo.servlet.LoginServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>查看用户登录是否成功</display-name>
		<servlet-name>CheckLoginServlet</servlet-name>
		<servlet-class>com.ifilmo.servlet.CheckLoginServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CheckUserServlet</servlet-name>
		<url-pattern>/CheckUserServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>查看添加用户是否重名，重邮箱</display-name>
		<servlet-name>CheckUserServlet</servlet-name>
		<servlet-class>com.ifilmo.servlet.CheckUserServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CheckLoginServlet</servlet-name>
		<url-pattern>/CheckLoginServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>用户登出</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.ifilmo.servlet.LogoutServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>Show user Account</display-name>
		<servlet-name>UserAccountServlet</servlet-name>
		<servlet-class>com.ifilmo.servlet.UserAccountServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserAccountServlet</servlet-name>
		<url-pattern>/UserAccountServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>更新用户账户</display-name>
		<servlet-name>UpdateUserServlet</servlet-name>
		<servlet-class>com.ifilmo.servlet.UpdateUserServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UpdateUserServlet</servlet-name>
		<url-pattern>/UpdateUserServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>添加用户</display-name>
		<servlet-name>AddUserServlet</servlet-name>
		<servlet-class>com.ifilmo.servlet.AddUserServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AddUserServlet</servlet-name>
		<url-pattern>/AddUserServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>删除用户</display-name>
		<servlet-name>DeleteUserServlet</servlet-name>
		<servlet-class>com.ifilmo.servlet.DeleteUserServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DeleteUserServlet</servlet-name>
		<url-pattern>/DeleteUserServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>修改密码</display-name>
		<servlet-name>ChangePasswordServlet</servlet-name>
		<servlet-class>com.ifilmo.servlet.ChangePasswordServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ChangePasswordServlet</servlet-name>
		<url-pattern>/ChangePasswordServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>查看所有用户</display-name>
		<servlet-name>FindAllUserServlet</servlet-name>
		<servlet-class>com.ifilmo.servlet.FindAllUserServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FindAllUserServlet</servlet-name>
		<url-pattern>/FindAllUserServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>搜索指定用户</display-name>
		<servlet-name>SearchUserServlet</servlet-name>
		<servlet-class>com.ifilmo.servlet.SearchUserServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SearchUserServlet</servlet-name>
		<url-pattern>/SearchUserServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>通过角色查找用户</display-name>
		<servlet-name>FindUserByRoleServlet</servlet-name>
		<servlet-class>com.ifilmo.servlet.FindUserByRoleServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FindUserByRoleServlet</servlet-name>
		<url-pattern>/FindUserByRoleServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>修改用户权限</display-name>
		<servlet-name>UpdateRoleByUserIdServlet</servlet-name>
		<servlet-class>com.ifilmo.servlet.UpdateRoleByUserIdServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UpdateRoleByUserIdServlet</servlet-name>
		<url-pattern>/UpdateRoleByUserIdServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>查看第一级目录</display-name>
		<servlet-name>FindFirst_catalogueServlet</servlet-name>
		<servlet-class>com.ifilmo.servlet.catalogue.FindFirst_catalogueServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FindFirst_catalogueServlet</servlet-name>
		<url-pattern>/FindFirst_catalogueServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>图片保存</display-name>
		<servlet-name>FileUploadServlet</servlet-name>
		<servlet-class>com.ifilmo.servlet.FileUploadServlet</servlet-class>
		<!-- <init-param> <param-name>savePath</param-name> <param-value>bootstrap\images</param-value> 
			</init-param> -->
	</servlet>

	<servlet-mapping>
		<servlet-name>FileUploadServlet</servlet-name>
		<url-pattern>/FileUploadServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>保存上传图片</display-name>
		<servlet-name>SavePictureServlet</servlet-name>
		<servlet-class>com.ifilmo.servlet.catalogue.SavePictureServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SavePictureServlet</servlet-name>
		<url-pattern>/SavePictureServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>二级菜单</display-name>
		<servlet-name>SelectServlet</servlet-name>
		<servlet-class>com.ifilmo.servlet.catalogue.SelectServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SelectServlet</servlet-name>
		<url-pattern>/SelectServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>添加新课程</display-name>
		<servlet-name>addCourseServlet</servlet-name>
		<servlet-class>com.ifilmo.servlet.catalogue.addCourseServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>addCourseServlet</servlet-name>
		<url-pattern>/addCourseServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>添加新课程内容</display-name>
		<servlet-name>addCourseContentServlet</servlet-name>
		<servlet-class>com.ifilmo.servlet.catalogue.addCourseContentServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>addCourseContentServlet</servlet-name>
		<url-pattern>/addCourseContentServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>查看新课程内容</display-name>
		<servlet-name>showCourseContentServlet</servlet-name>
		<servlet-class>com.ifilmo.servlet.showCourseContentServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>showCourseContentServlet</servlet-name>
		<url-pattern>/showCourseContentServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>预览课程内容</display-name>
		<servlet-name>PreviewCourseServlet</servlet-name>
		<servlet-class>com.ifilmo.servlet.catalogue.PreviewCourseServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PreviewCourseServlet</servlet-name>
		<url-pattern>/PreviewCourseServlet</url-pattern>
	</servlet-mapping>


	<servlet>
		<display-name>查看课程内容</display-name>
		<servlet-name>ShowCourseServlet</servlet-name>
		<servlet-class>com.ifilmo.servlet.catalogue.ShowCourseServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ShowCourseServlet</servlet-name>
		<url-pattern>/ShowCourseServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>跳转添加新课程页面</display-name>
		<servlet-name>showAddCourseServlet</servlet-name>
		<servlet-class>com.ifilmo.servlet.catalogue.showAddCourseServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>showAddCourseServlet</servlet-name>
		<url-pattern>/showAddCourseServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>邮箱找回密码</display-name>
		<servlet-name>EmailServlet</servlet-name>
		<servlet-class>com.ifilmo.servlet.EmailServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>EmailServlet</servlet-name>
		<url-pattern>/EmailServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>邮件重设密码</display-name>
		<servlet-name>ResetPasswordServlet</servlet-name>
		<servlet-class>com.ifilmo.servlet.ResetPasswordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResetPasswordServlet</servlet-name>
		<url-pattern>/ResetPasswordServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>重设密码</display-name>
		<servlet-name>PasswordServlet</servlet-name>
		<servlet-class>com.ifilmo.servlet.PasswordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PasswordServlet</servlet-name>
		<url-pattern>/PasswordServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>删除三级目录</display-name>
		<servlet-name>DeleteThird_catalogueServlet</servlet-name>
		<servlet-class>com.ifilmo.servlet.catalogue.DeleteThird_catalogueServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteThird_catalogueServlet</servlet-name>
		<url-pattern>/DeleteThird_catalogueServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>删除二级目录</display-name>
		<servlet-name>DeleteSecond_catalogueServlet</servlet-name>
		<servlet-class>com.ifilmo.servlet.catalogue.DeleteSecond_catalogueServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteSecond_catalogueServlet</servlet-name>
		<url-pattern>/DeleteSecond_catalogueServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>删除一级目录</display-name>
		<servlet-name>DeleteFirst_catalogueServlet</servlet-name>
		<servlet-class>com.ifilmo.servlet.catalogue.DeleteFirst_catalogueServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteFirst_catalogueServlet</servlet-name>
		<url-pattern>/DeleteFirst_catalogueServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>搜索</display-name>
		<servlet-name>searchCourseServlet</servlet-name>
		<servlet-class>com.ifilmo.servlet.searchCourseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>searchCourseServlet</servlet-name>
		<url-pattern>/searchCourseServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>编辑课程</display-name>
		<servlet-name>EditCourseServlet</servlet-name>
		<servlet-class>com.ifilmo.servlet.catalogue.EditCourseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditCourseServlet</servlet-name>
		<url-pattern>/EditCourseServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>富文本框上传图片</display-name>
		<servlet-name>UploadImgServlet</servlet-name>
		<servlet-class>com.ifilmo.servlet.UploadImgServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UploadImgServlet</servlet-name>
		<url-pattern>/UploadImgServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>Check课程名字</display-name>
		<servlet-name>CheckCourseNameServlet</servlet-name>
		<servlet-class>com.ifilmo.servlet.catalogue.CheckCourseNameServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CheckCourseNameServlet</servlet-name>
		<url-pattern>/CheckCourseNameServlet</url-pattern>
	</servlet-mapping>


</web-app>